path {
  min-width: 7rem;
  min-height: 7rem;
  background: url(./img/go-back.png) center no-repeat transparent;
  background-size: contain;
}

#main-road {
  min-width: 5rem;
  min-height: 6rem;
  background: url(./img/road-main.png) center no-repeat transparent;
  background-size: contain;
}

#into-the-forest {
  display: block;
  min-width: 6rem;
  min-height: 5rem;
  background: url(./img/road-right.png) center no-repeat transparent;
  background-size: contain;
}