@import '../styles/variables.scss';

%title {
  padding: 0.5rem;
  border-radius: $border-radius;
  text-align: center;
  background-color: $main-background-color;
}

.header {
  grid-area: header;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  @extend %title;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.header__task {
  @extend %title;
  margin: 1rem auto;
  font-size: 2rem;
}

.header__table {
  padding: 1rem;
  min-width: 8rem;
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: $main-background-color;
  border-radius: 2rem;

  & > * {
    flex: 1 1 auto;
  }
}

.header__hand-img {
  position: fixed;
  z-index: 2;
  top: 10rem;
  left: -100%;
  width: 7rem;
  height: 10rem;
  background: url(../../img/grabbing-hand.webp) no-repeat center transparent;
  background-size: contain;
  transition: left 1s ease-in-out;

  &.grab{
    left: 0;
  }
}

.tooltip {
  position: fixed;
  left: -20%;
  top: 110%;
  z-index: 2;
  border-radius: $border-radius;
  background-color: $tooltip-background-color;
  opacity: 0;
  pointer-events: none;

  div {
    padding-left: 0.6rem;
  }
}