.genie {
  position: absolute;
  top: -60%;
  left: 20%;
  display: block;
  min-width: 5rem;
  min-height: 5rem;
  background: url(./img/genie.webp) center no-repeat transparent;
  background-size: contain;
}

vessel {
  position: relative;
  min-width: 5rem;
  min-height: 5rem;
  background: url(./img/vessel.webp) center no-repeat transparent;
  background-size: contain;
}