[data-target] medallion {
  display: block;
  min-width: 3rem;
  min-height: 3rem;
  background: url(./img/witcher-medallion.png) center no-repeat transparent;
  background-size: contain;
}

medallion {
  display: block;
  min-width: 3rem;
  min-height: 3rem;
  background: url(./img/medallion.png) center no-repeat transparent;
  background-size: contain;
}

bag {
  min-width: 6rem;
  min-height: 6rem;
  background: url(./img/bag.png) center no-repeat transparent;
  background-size: contain;
}