box {
  min-width: 5rem;
  min-height: 5rem;
  background: url(./img/box.webp) center no-repeat transparent;
  background-size: contain;
}

horseshoe {
  display: block;
  min-width: 3.5rem;
  min-height: 3.5rem;
  background: url(./img/horseshoe.webp) center no-repeat transparent;
  background-size: contain;
}

