box {
  width: 6rem;
  height: 6rem;
  background: url(./img/box.png) center no-repeat transparent;
  background-size: contain;
}

horseshoe {
  display: block;
  width: 4rem;
  height: 4rem;
  background: url(./img/horseshoe.png) center no-repeat transparent;
  background-size: contain;
}

