.wealth {
  min-width: 6rem;
  min-height: 6rem;
  background: url(./img/wealth.webp) center no-repeat transparent;
  background-size: contain;
}

wish {
  min-width: 6rem;
  min-height: 6rem;
  background: url(./img/secret.webp) center no-repeat transparent;
  background-size: contain;
}

.power {
  min-width: 6rem;
  min-height: 6rem;
  background: url(./img/power.webp) center no-repeat transparent;
  background-size: contain;
}