choice {
  position: relative;
  min-width: 5rem;
  min-height: 5rem;
  background: url(./img/choice.svg) center no-repeat transparent;
  background-size: contain;
}

[type='in-the-name-of-love'] {
  position: absolute;
  top: -50%;
  left: 20%;
  min-width: 4rem;
  min-height: 4rem;
  background: url(./img/love.svg) center no-repeat transparent;
  background-size: contain;
}

[type='duty'] {
  position: absolute;
  top: -50%;
  left: 20%;
  min-width: 4rem;
  min-height: 4rem;
  background: url(./img/duty.png) center no-repeat transparent;
  background-size: contain;
}