@import './variables.scss';
@import './btn.scss';
@import './linked-hovers.scss';
@import './animations.scss';

* {
  box-sizing: border-box;
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: $main-text-color;
}

html {
  @include media-desctop-big {
    font-size: 24px;
  }
}

body {
  margin: 0;
  // padding: 0.2rem;
  min-height: 100vh;
  // width: 100%;
  display: grid;
  grid-template:
    "header aside" auto
    "main aside" auto
    "footer aside" auto
    /auto minmax(15rem, 20rem);
  justify-items: center;
  align-items: flex-start;
  gap: 0.5rem;
  background: url(../../img/bacjgroung.jpg) center no-repeat;
  background-size: cover;
  color: $main-text-color;

  @include media-mobile-big {
    // grid-template-columns: 1fr;
    // grid-template-rows: repeat(3, auto);
    grid-template:
    "header" auto
    "main" auto
    "footer" auto
    /auto;
    gap: 0.5rem 0;
  }
}

// [data-id] {
//   position: relative;
// }