@import './variables.scss';
@import './btn.scss';

* {
  box-sizing: border-box;
}

.hljs-meta .hljs-string, .hljs-regexp, .hljs-string {
  color: $main-text-color;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template:
    "header aside" auto
    "main aside" auto
    "footer aside" auto
    /auto minmax(15rem, 20rem);
  justify-items: center;
  align-items: flex-start;
  gap: 0.5rem;
  background: url(../../img/bacjgroung.jpg) center no-repeat;
  background-size: cover;
  color: $main-text-color;
}

body:has([data-id="1"]:hover) [data-id="1"] {
  box-shadow: $main-box-shadow;

  [data-id="1"].tooltip {
    opacity: 1;
  }
}

body:has([data-id="2"]:hover) [data-id="2"] {
  box-shadow: $main-box-shadow;

  [data-id="2"].tooltip {
    opacity: 1;
  }
}

body:has([data-id="2"]:hover) [data-id="1"] {
  box-shadow: none;
  
  [data-id="1"].tooltip {
    opacity: 0;
  }
}

body:has([data-id="3"]:hover) [data-id="3"] {
  box-shadow: $main-box-shadow;

  [data-id="3"].tooltip {
    opacity: 1;
  }
}

body:has([data-id="3"]:hover) [data-id="2"] {
  box-shadow: none;

  [data-id="2"].tooltip {
    opacity: 0;
  }
}

body:has([data-id="4"]:hover) [data-id="4"] {
  box-shadow: $main-box-shadow;

  [data-id="4"].tooltip {
    opacity: 1;
  }
}

body:has([data-id="4"]:hover) [data-id="3"] {
  box-shadow: none;

  [data-id="3"].tooltip {
    opacity: 0;
  }
}

body:has([data-id="5"]:hover) [data-id="5"] {
  box-shadow: $main-box-shadow;

  [data-id="5"].tooltip {
    opacity: 1;
  }
}

body:has([data-id="5"]:hover) [data-id="4"] {
  box-shadow: none;

  [data-id="4"].tooltip {
    opacity: 0;
  }
}

body:has([data-id="6"]:hover) [data-id="6"] {
  box-shadow: $main-box-shadow;

  [data-id="6"].tooltip {
    opacity: 1;
  }
}

body:has([data-id="6"]:hover) [data-id="5"] {
  box-shadow: none;

  [data-id="5"].tooltip {
    opacity: 0;
  }
}

[data-id] {
  position: relative;
}

.tooltip {
  position: absolute;
  right: -40%;
  top: 110%;
  z-index: 2;
  border-radius: $border-radius;
  background-color: $tooltip-background-color;
  opacity: 0;
  pointer-events: none;

  div {
    padding-left: 1rem;
  }
}

[data-target] {
  animation: 2s ease-in-out 0s infinite blink,
    4s ease-in-out 0s infinite uroboros;

  // & > * {
  //   animation: none;
  // }
}

@keyframes blink {
  0% {
    box-shadow: 0px 0px 11px 1px rgb(233, 191, 114);
  }

  50% {
    box-shadow: 0px 0px 11px 4px orange;
  }

  100% {
    box-shadow: 0px 0px 11px 1px rgb(233, 191, 114);
  }
}

@keyframes uroboros {
  0% {
    transform: translate(4px, 4px)
  }

  25% {
    transform: translate(-4px, -4px)
  }

  37% {
    transform: translate(-6px, 0px)
  }

  50% {
    transform: translate(-4px, 4px)
  }

  75% {
    transform: translate(4px, -4px)
  }

  87% {
    transform: translate(6px, 0px)
  }

  100% {
    transform: translate(4px, 4px)
  }
}

.wrong-answer {
  animation: 0.5s ease-in-out 0s horizontal-shaking;
}

@keyframes horizontal-shaking {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.right-answer {
  animation: 1s ease-in 0s right-answer;
}

@keyframes right-answer {
  0% {
    transform: none
  }

  30% {
    transform: translate(-50px, -100px);
  }

  100% {
    transform: translate(-550px, 50px);
  }
}