@import './variables.scss';
@import './btn.scss';
@import './linked-hovers.scss';
@import './animations.scss';

* {
  box-sizing: border-box;
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: $main-text-color;
}

html {
  @include media-desctop-big {
    font-size: 24px;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template:
    "header aside" auto
    "main aside" auto
    "footer aside" auto
    /auto minmax(15rem, 20rem);
  justify-items: center;
  align-items: flex-start;
  gap: 0.5rem;
  color: $main-text-color;
  background: rgba(9, 19, 108, 25%) center no-repeat;
  background-blend-mode: multiply;
  background-size: cover;

  @include media-mobile-big {
    grid-template:
      "header" auto
      "main" auto
      "footer" auto
      /auto;
    gap: 0.5rem 0;
  }
}

.level-0 {
  background-image: url(../../img/background-0.jpg);
  
}

.level-1 {
  background-image: url(../../img/background-1.jpg);
}

.level-2 {
  background-image: url(../../img/background-2.webp);
}

.level-3 {
  background-image: url(../../img/background-3.jpg);
}

.level-4 {
  background-image: url(../../img/background-4.jpg);
}

.level-5 {
  background-image: url(../../img/background-5.avif);
}

.level-6 {
  background-image: url(../../img/background-6.jpg);
}

.level-7 {
  background-image: url(../../img/background-7.jpg);
}

.level-8 {
  background-image: url(../../img/background-8.jpg);
}

.level-9 {
  background-image: url(../../img/background-9.jpg);
}

.level-10 {
  background-image: url(../../img/background-10.jpeg);
}