body:has([data-id="1"]:hover) [data-id="1"] {
  filter: drop-shadow(0 0 0.5rem orange);

  [data-id="1"].tooltip {
    opacity: 1;
  }
}

body:has([data-id="1"]:hover) .html-viewer__content [data-id="1"] {
  filter: none;
  box-shadow: $main-box-shadow;
}

body:has([data-id="2"]:hover) [data-id="2"] {
  filter: drop-shadow(0 0 0.5rem orange);

  [data-id="2"].tooltip {
    opacity: 1;
  }
}

body:has([data-id="2"]:hover) [data-id="1"] {
  filter: none;

  [data-id="1"].tooltip {
    opacity: 0;
  }
}

body:has([data-id="2"]:hover) .html-viewer__content [data-id="2"] {
  filter: none;
  box-shadow: $main-box-shadow;
}

body:has([data-id="2"]:hover) .html-viewer__content [data-id="1"] {
  box-shadow: none;
}

body:has([data-id="3"]:hover) [data-id="3"] {
  filter: drop-shadow(0 0 0.5rem orange);

  [data-id="3"].tooltip {
    opacity: 1;
  }
}

body:has([data-id="3"]:hover) [data-id="2"] {
  filter: none;

  [data-id="2"].tooltip {
    opacity: 0;
  }
}

body:has([data-id="3"]:hover) .html-viewer__content [data-id="3"] {
  filter: none;
  box-shadow: $main-box-shadow;
}

body:has([data-id="3"]:hover) .html-viewer__content [data-id="2"] {
  box-shadow: none;
}

body:has([data-id="4"]:hover) [data-id="4"] {
  filter: drop-shadow(0 0 0.5rem orange);

  [data-id="4"].tooltip {
    opacity: 1;
  }
}

body:has([data-id="4"]:hover) [data-id="3"] {
  filter: none;

  [data-id="3"].tooltip {
    opacity: 0;
  }
}

body:has([data-id="4"]:hover) .html-viewer__content [data-id="4"] {
  filter: none;
  box-shadow: $main-box-shadow;
}

body:has([data-id="4"]:hover) .html-viewer__content [data-id="3"] {
  box-shadow: none;
}

body:has([data-id="5"]:hover) [data-id="5"] {
  filter: drop-shadow(0 0 0.5rem orange);

  [data-id="5"].tooltip {
    opacity: 1;
  }
}

body:has([data-id="5"]:hover) [data-id="4"] {
  filter: none;

  [data-id="4"].tooltip {
    opacity: 0;
  }
}

body:has([data-id="5"]:hover) .html-viewer__content [data-id="5"] {
  filter: none;
  box-shadow: $main-box-shadow;
}

body:has([data-id="5"]:hover) .html-viewer__content [data-id="4"] {
  box-shadow: none;
}

body:has([data-id="6"]:hover) [data-id="6"] {
  filter: drop-shadow(0 0 0.5rem orange);

  [data-id="6"].tooltip {
    opacity: 1;
  }
}

body:has([data-id="6"]:hover) [data-id="5"] {
  filter: none;

  [data-id="5"].tooltip {
    opacity: 0;
  }
}

body:has([data-id="6"]:hover) .html-viewer__content [data-id="6"] {
  filter: none;
  box-shadow: $main-box-shadow;
}

body:has([data-id="6"]:hover) .html-viewer__content [data-id="5"] {
  box-shadow: none;
}