// Colors
$main-background-color: rgb(12 45 71 / 63%);
$burger-background-color: rgb(12 45 71);
$main-text-color: rgb(190 176 138);
$main-hover-color: #ffa500;
$main-hover-background-color: rgba(208, 163, 80, 0.728);
$main-btn-color: rgb(84 114 197);
$main-title-color: rgb(193 149 31);
$tooltip-background-color: rgba(7, 39, 62, 0.908);
$overlay-color: rgba(41, 41, 41, 0.316);

//Constants
$border-radius: 8px;
$main-box-shadow: 0px 0px 11px 2px orange;

// placeholders
%button {
  display: block;
  margin: auto;
  background-color: transparent;
  color: $main-btn-color;
  cursor: pointer;
  @extend %transition;
}

%burger__line {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: $main-background-color;

  &:hover {
    background-color: $main-hover-color;
  }
}

%transition {
  transition: all 0.1s ease-in-out;
}

// mixins
@mixin media-desctop-big {
  @media (min-width: 1300px) {
    @content;
  }
}

@mixin media-mobile-big {
  @media (max-width: 830px) {
    @content;
  }
}

@mixin media-mobile-small {
  @media (max-width: 600px) {
    @content;
  }
}