[data-target] {
  animation: 3s ease-in-out infinite target-blink alternate,
    4s ease-in-out 0s infinite uroboros;
}

@keyframes target-blink {
  0% {
    filter: drop-shadow(0 0 0.8rem rgb(236, 210, 162));
  }

  100% {
    filter: drop-shadow(0 0 0.5rem orange);
  }
}

@keyframes uroboros {
  0% {
    transform: translate(4px, 4px)
  }

  25% {
    transform: translate(-4px, -4px)
  }

  37% {
    transform: translate(-6px, 0px)
  }

  50% {
    transform: translate(-4px, 4px)
  }

  75% {
    transform: translate(4px, -4px)
  }

  87% {
    transform: translate(6px, 0px)
  }

  100% {
    transform: translate(4px, 4px)
  }
}

.wrong-answer {
  animation: 0.5s ease-in-out 0s horizontal-shaking;
}

@keyframes horizontal-shaking {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.header .right-answer {
  animation: 1s ease-in 0s right-answer;
}

@keyframes right-answer {
  0% {
    transform: none
  }

  30% {
    transform: translate(-50px, -100px);
  }

  100% {
    transform: translate(-550px, 50px);
  }
}

.nav__item {
  animation: 2s ease-in 0s nav-item-blink infinite;
}

@keyframes nav-item-blink {
  0% {
    filter: none;
  }

  50% {
    filter: brightness(0.7);
  }

  100% {
    filter: none;
  }
}