.btn {
  @extend %button;
  padding: 0.3rem 1rem;
  border: 1px solid $main-btn-color;
  border-radius: $border-radius;
  font-size: 1rem;

  &:hover {
    color: $main-hover-color;
    border-color: $main-hover-color;
    box-shadow: $main-box-shadow;
  }
}