.lute {
  min-width: 6rem;
  min-height: 7rem;
  background: url(./img/lute.webp) center no-repeat transparent;
  background-size: contain;
}

.guitar {
  min-width: 4rem;
  min-height: 7rem;
  background: url(./img/guitar.webp) center no-repeat transparent;
  background-size: contain;
}

.bass-guitar {
  min-width: 4rem;
  min-height: 7rem;
  background: url(./img/bass-guitar.webp) center no-repeat transparent;
  background-size: contain;
}