@import '../styles/variables.scss';

.main {
  max-width: 40rem;
  margin-left: 0.5rem;
  grid-area: main;
  display: flex;
  gap: 1.5rem;
  padding: 0.5rem;
  background-color: $main-background-color;
  border-radius: $border-radius;
}

.title {
  margin: 0;
  font-size: 1.2rem;
  color: $main-title-color;
}

.editor {
  display: grid;
  grid-template-columns: 1fr 4rem;
  grid-template-rows: repeat(2, auto);
  column-gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border: 1px solid $main-title-color;
  border-radius: $border-radius;
}

.editor__description {
  justify-self: center;
}

.editor__input {
  align-self: stretch;
  border: 1px solid $main-btn-color;
  border-radius: $border-radius;
  color: $main-text-color;
  white-space: nowrap;
  font-size: 1.2rem;
  animation: animated-background 700ms steps(29,end) infinite;

  &:active,
  &:focus,
  &:hover {
    outline: none;
    box-shadow: $main-box-shadow;
  }
}

@keyframes animated-background{
  from{background-color: rgba(31, 138, 226, 0.299);}
  to{background-color: transparent;}
}

.workspace {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.html-viewer {
  display: grid;
  grid-template-columns: 1fr 4rem;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  padding: 0.5rem;
  border: 1px solid $main-title-color;
  border-radius: $border-radius;
  cursor: default;
}

.html-viewer__content {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  div {
    padding-left: 1rem;
    border-radius: $border-radius;
  }
}

.story {
  min-width: 15rem;
  padding: 0.5rem;
  border: 1px solid $main-title-color;
  border-radius: $border-radius;
}