.main {
  grid-area: main;
  display: flex;
  gap: 1.5rem;
}

.workspace {
  flex: 2 1 60%;
}

.story {
  flex: 1 1 40%;
}

.html-viewer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}