.level1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 7rem;
  height: 7rem;
}

.level1_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(122, 124, 125);
  width: 70%;
  height: 70%;
}

.level1_2 {
  width: 50%;
  height: 50%;
  background-color: rgb(4, 101, 149);
}

.level1_3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(88, 150, 27);
  width: 70%;
  height: 70%;
}

.level1_4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(170, 20, 122);
  width: 70%;
  height: 70%;
}