.levels {
  margin-top: 2rem;
  grid-area: levels;
}

.levels__list {
  list-style: none;
}

.levels__item {
  margin-bottom: 1rem;
  position: relative;
}

.levels__item::before {
  content: '';
  background: url(../../img/mark-grey.png) no-repeat center transparent;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -1.5rem;
  bottom: 0;
}