@import './burger';
@import '../styles/variables.scss';

.aside {
  grid-area: aside;
  align-self: stretch;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  background-color: $main-background-color;
  @extend %transition;

  @include media-mobile-big {
    position: fixed;
    right: -110%;
    height: 100vh;
    width: 18rem;
  }

}

body:has(.aside-burger.burger-active) .aside {
  z-index: 6;
  right: 0;
  background-color: $tooltip-background-color;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  border-bottom: 1px solid darken($main-text-color, 30%);
}

.nav__title {
  position: relative;
  white-space: nowrap;

  &::before {
    content: '';
    background: url(../../img/mark-grey.png) no-repeat center transparent;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -1.5rem;
    bottom: 0.2rem;

    .aside:has([data-active].helped) & {
      background: url(../../img/mark-yellow.png) no-repeat center transparent;
      background-size: contain;
    }

    .aside:has([data-active].done) & {
      background: url(../../img/mark-green.png) no-repeat center transparent;
      background-size: contain;
    }
  }
}

.nav__button_prev,
.nav__button_next {
  @extend %button;
  margin: 0;
  border: none;
  font-size: 2rem;

  &:hover {
    color: $main-hover-color;
  }
}

.nav__list {
  margin-top: 4.5rem;
  padding: 0;
  list-style: none;
}

.nav__item {
  cursor: pointer;
  
  &:hover {
    background-color: lighten($burger-background-color, 10%);
  }
}

[data-active] {
  box-shadow: $main-box-shadow;
}