@import './burger';
@import '../styles/variables.scss';

.aside {
  grid-area: aside;
  align-self: stretch;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  background-color: $main-background-color;
}

.nav {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  align-items: center;
  padding-left: 1rem;
  border-bottom: 1px solid darken($main-text-color, 30%);
}

.nav__title {
  position: relative;

  &::before {
    content: '';
    background: url(../../img/mark-grey.png) no-repeat center transparent;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -1.5rem;
    bottom: 0.2rem;

    .aside:has([data-active].helped) & {
      background: url(../../img/mark-yellow.png) no-repeat center transparent;
      background-size: contain;
    }

    .aside:has([data-active].done) & {
      background: url(../../img/mark-green.png) no-repeat center transparent;
      background-size: contain;
    }
  }
}

.aside__list {
  margin-top: 4.5rem;
  padding: 0;
  list-style: none;
}

.aside__item {
  &:hover {
    background-color: lighten($burger-background-color, 10%);
  }
}

[data-active] {
  box-shadow: $main-box-shadow;
}