@import '../styles/variables.scss';

.burger {
  position: relative;
  z-index: 11;
  width: 1.8rem;
  height: 1.8rem;
  background: url(../../img/levels-menu.svg) no-repeat center transparent;
  background-size: contain;
  @extend %transition;
  cursor: pointer;

  &:hover {
    background: url(../../img/levels-menu-hover.svg) no-repeat center transparent;
    background-size: contain;
    transform: translateX(-0.2rem);
  }

}

.burger-menu {
  position: absolute;
  z-index: 10;
  top: 0;
  right: -150%;
  width: 100%;
  height: 100vh;
  background-color: $burger-background-color;
  @extend %transition;

  .burger-active ~ & {
      right: 0;
  }
}

.burger-menu__level {
  position: relative;
  padding: 0.5rem 2.5rem;

  &::before {
    content: '';
    background: url(../../img/mark-grey.png) no-repeat center transparent;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;

    .helped & {
      background: url(../../img/mark-yellow.png) no-repeat center transparent;
      background-size: contain;
    }
    
    .done & {
      background: url(../../img/mark-green.png) no-repeat center transparent;
      background-size: contain;
    }
  }
  
}