elixir {
  width: 5rem;
  height: 5rem;
  background: url(./img/elixir.png) center no-repeat transparent;
  background-size: contain;
}

doll {
  width: 5rem;
  height: 5rem;
  background: url(./img/doll.png) center no-repeat transparent;
  background-size: contain;
}

pillow {
  width: 5rem;
  height: 5rem;
  background: url(./img/pillow.png) center no-repeat transparent;
  background-size: contain;
}