@import '../styles/variables.scss';

.footer {
  grid-area: footer;
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.github-link {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background: url(../../img/github-mark.svg) no-repeat center;
  background-size: contain;
  @extend %transition;

  &:hover {
    background: url(../../img/github-mark-hover.svg) no-repeat center;
    background-size: contain;
    filter: drop-shadow(0 0 0.5rem orange);
  }
}

.school-link {
  display: block;
  width: 4rem;
  height: 2.5rem;
  background: url(../../img/rs-school-logo.svg) center no-repeat;
  background-size: contain;
  @extend %transition;

  &:hover {
    filter: drop-shadow(0 0 0.5rem orange);
  }
}