.footer {
  grid-area: footer;
  display: flex;
  gap: 1.5rem;
}

.github-link {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../../img/github-img.png) no-repeat center;
  background-size: contain;
  border-radius: 50%;
  transition: 0.25s;
}

.school-link {
  display: block;
  width: 36px;
  height: 36px;
  background: url(../../img/school-img.svg) center no-repeat;
  background-size: contain;
  border: 2px solid #032836;
  border-radius: 50%;
  transition: 0.25s;
}

.github-link:hover,
.school-link:hover {
  background-color: orange;
  transform: scale(1.1);
  box-shadow: 0 0 4px 1px orange;
}